@font-face {
    font-family: Krasota;
    src: url(/Fonts/Merriweather/Merriweather-Regular.ttf);
}

img {
    width: 100%;
    height: 50%;
    border-radius: 3000px;

}

.image {
    width: 50px;
    height: 50px;

}

.header {
    background-color: rgb(185, 162, 162);
    border-radius: 50px;
    margin: 40px 10px 40px 10px
}

.main, .container {
    display: block;
    background-color: rgb(182, 146, 146);
    border-radius: 25px;
       

}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0 15px;

}

li {
    padding: 10px 10px 10px 10px;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
.footer {
    text-align: center;
    
}

html {
    font-family: Krasota;
    background-color: #f0ede9;
    background-color: rgb(182, 146, 146);
}
.rightcol {
	white-space: normal;	
	display: inline-block;
	width: 40%;
	vertical-align: top;
	
}
.leftcol{
    white-space: normal;	
	display: inline-block;
	width: 50%;
	vertical-align: top;
}
.map {
    text-align: center;
}
.column {
    width: 50%;
    flex-direction: row;
}
.fon{
    background-image: url(/images/fon.jpg);
}
.progress {
    background-color: #85416e;
    border: 0;
    height: 25px;
    border-radius: 13px;
}
.row {
    width: 50%;
    flex-direction: column;
}